<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.workflowupdate">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light">


        <activity android:name=".View.activty.MainActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".View.activty.AboutUsActivity"
                  android:label="About Us"

                  android:parentActivityName=".View.activty.MainActivity"
                  android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="View.activty.MainActivity"/>

        </activity>

        <activity android:name=".View.activty.CheesecakeActivity"
                  android:label="Our Blog"
                  android:parentActivityName=".View.activty.AboutUsActivity"
                  android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".View.activty.AboutUsActivity"/>

        </activity>

    </application>

</manifest>